<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <link
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>

  <body>

    <header>
      <div class="Header">
      </div>
    </header>
    <div class="container">
      <div class="text-center mt-5 mb-5">
        <h3>エコバッグのサイズを選択してください</h3>
      </div>
      <!-- <div id="main"></div> -->
      <div class="flex_container">
        <div class="d-flex justify-content-around">
          <button type="button" class="btn-light" id="big_size" onclick="location.href='./box_camera/big'">
            大
          </button>
          <button type="button" class="btn-light" id="small_size" onclick="location.href='./box_camera/small'">
            小
          </button>
          <button type="button" class="btn-light" id="custom" onclick="location.href='./custom'">
            カスタム
          </button>
        </div>
      </div>

      <div class="flex_container">
        <div class="d-flex justify-content-around">
          <button type="button" class="btn-light" id="none_bag" onclick="location.href='./box_camera/none'">
            レジ袋
          </button>
        </div>
      </div>
    </div>

  </body>
</html>
